*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Red Hat Text', sans-serif;
  font-family: var(--main-font);
  font-size: 62.5%;
  scroll-behavior: smooth;
  --custom-blue: #007bff;
  --custom-orange: #ff8300;
  --custom-red: #ce1010;
  --custom-green: #00b140;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f9fafb; */
}
